*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    background-color: #ffffff;
    overflow-x: hidden;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
}

.logo1 {
    margin: 20px;
    width: 200px;
}

#logoInput {
    position: relative;
}

#input1 {
    font-family: 'Inter', sans-serif;
    border-radius: 30px;
    border: none;
    outline: none;
    width: 240px;
    height: 36px;
    padding-left: 16px;
    font-size: 15px;
    margin-left: 12px;
}

#menu1 {
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    gap: 35px;
    margin: 20px 25px;
    font-size: 14px;
}

.menuItem {
    color: #ffffff;
}

.menuItem:hover {
    color: #ffec44;
}

#logoInput {
    display: flex;
    align-items: center;
}

#elementosHeader {
    font-family: 'Cinzel', serif;
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
}

#lupa {
    position: absolute;
    width: 20px;
    right: 13px;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}
.confirmacaoDaCompra{
    display: flex;
    position: relative;
    margin-top: 60px;
    margin-left: 60px;
}
.pagamentoZed{
    font-family: 'Inter', sans-serif;
    display: flex;
}
.outrosAngulosFotoZed{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.tituloConfirmacaoCompra{
    font-family: 'Inter', sans-serif;
    font-size: 28px;
    color: rgb(0, 0, 0);
    margin-bottom: 20px;
}
.imagemZedFrente{
    background-color: #f5f5f5;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}
.imagemZedFrente:hover{
    box-shadow: inset 0px 0px 0px 2px blueviolet;
}
.imagemZedDesmontado{
    background-color: #f5f5f5;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}
.imagemZedDesmontado:hover{
    box-shadow: inset 0px 0px 0px 2px blueviolet;
}
.imagemZedCostas{
    background-color: #f5f5f5;
    width: 120px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.4s;
}
.imagemZedCostas:hover{
    box-shadow: inset 0px 0px 0px 2px blueviolet;
}
.imagemZedPagamento{
    width: 420px;
    margin-left: 20px;
}
.informacoesParaCompra{
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    color: rgb(0, 0, 0);
    margin-left: 50px;
}
.avaliacaoDaCompra{
    display: flex;
    align-items: center;
    padding-left: 10px;
    background-color: #f5f5f5;
    border-radius: 10px;
    width: 380px;
    height: 42px;
    margin-bottom: 20px;
}
.estrelas{
    margin-left: 6px;
    margin-right: 6px;
}
.formaDeEntrega{
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.entregaCorreios{
    width: 90px;
}
.precoPagamentos{
    font-size: 24px;
    gap: 5px;
    margin-bottom: 20px;
}
.precoAnterior{
    color: #a0a0a0;
    font-size: 16px;
    text-decoration: line-through;
}
.parcelaPagamentos{
    margin-top: 5px;
    font-size: 16px;
}
.fretePagamentos{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}
.selecionarPagamento{
    font-size: 18px;
}
.imagensFormasDePagamentos{
    display: flex;
    align-items: center;
    border-radius: 5px;
    gap: 15px;
    max-width: 288px;
}
.imagemPix{
    width: 55px;
    background-color: #f5f5f5;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
.imagemPix:hover{
    transform: scale(0.95);
    border: 2px solid blueviolet;
}
.imagemCartaoMaster{
    width: 55px;
    background-color: #f5f5f5;
    padding: 11px 2px;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}
.imagemCartaoMaster:hover{
    transform: scale(0.95);
    border: 2px solid blueviolet;
}
.imagemNubank{
    width: 55px;
    background-color: #f5f5f5;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}
.imagemNubank:hover{
    transform: scale(0.95);
    border: 2px solid blueviolet;
}
.imagemBoleto{
    width: 55px;
    background-color: #f5f5f5;
    border: 2px solid #c4c4c4;
    border-radius: 5px;
    transition: 0.3s;
    cursor: pointer;
}
.imagemBoleto:hover{
    transform: scale(0.95);
    border: 2px solid blueviolet;
}