*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    background-color: #ffffff;
    overflow-x: hidden;
}
.container1{
    width: 100%;
    max-width: 5200px;
    padding: auto;
    margin: 0 auto;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    width: 100vw;
}
.logo1{
    margin: 20px;
    width: 200px;
}
#logoInput{
    position: relative;
}
#input1{
    font-family: 'Inter', sans-serif;
    border-radius: 30px;
    border: none;
    outline: none;
    width: 240px;
    height: 36px;
    padding-left: 16px;
    font-size: 15px;
    margin-left: 12px;
}
#menu1{
    font-family: 'Inter', sans-serif;
    display: flex;
    gap: 30px;
    margin: 20px 25px;
    font-size: 14px;
}
.menuItem:hover{
    color: #ffec44;
}
#logoInput{
    display: flex;
    align-items: center;
}
#elementosHeader{
    display: flex;
    align-items: center;
    gap: 6px;
}
#lupa{
    position: absolute;
    width: 20px;
    right: 13px;
}
li{
    list-style: none;
}
a{
    color: #ffffff;
    text-decoration: none;
}
/*--------------------------------------------------------------*/
.banner{
    background-image: url("../assets/fotoLoL.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo1{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    max-width: 920px;
    padding: 20px;
    border-radius: 30px;
    background-color: blueviolet;
    color: #ffffff;
}
.conteudo1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ofertadia{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin-top: 10%; 
}

/* PRODUTO DO ZED */
.ProdutosDaOferta{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
}
@media (max-width: 850px){
    .ProdutosDaOferta{
        display: flex;
        flex-direction: column;
    }
}
.Zed{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    background-color: #f5f5f5;
    color: #000000;
    max-width: 300px;
    width: 260px;
    padding: 20px 0px 64px 20px;
    border-radius: 0px 0px 40px 40px;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: inset 0px 0px 0px 0px blueviolet;
    border: 1px solid #cacaca;
    cursor: pointer;
}
.Zed:hover, .Zed:focus{
    box-shadow: inset 0px 0px 0px 2px blueviolet;
}
.Titulo1{
    font-family: 'Inter', sans-serif;
    font-size: 20.5px;
    color: rgb(0, 0, 0);
}
.PrecoAnterior{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    text-decoration: line-through;
    margin-left: 4px;
    color: #000000;
}
.PrecoNovo{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    margin-left: 4px;
    color: #000000;
}
.De{
    padding-top: 22px;
    border-top: 2px solid rgb(117, 117, 117);
    max-width: 27px;
    color: red;
}
.Por{
    color: blueviolet;
}
.AVista{
    padding-bottom: 26px;
    border-bottom: 2px solid rgb(117, 117, 117);
    max-width: 55px;
}
.PrecoCartao{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #000000;
}
.SeisX{
    color: blueviolet;
}
.Juros{
    font-size: 12px;
}
.ImagemDoZed1{
    width: 280px;
    position: relative;
    top: 5px;
    right: 18px;
}
.dialogZed{
    font-family: 'Inter', sans-serif;
    position: fixed;
    top: 27%;
    left: 14%;
    width: 74%;
    min-width: 800px;
    height: 45%;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s;
    overflow-y: hidden;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
}   
.dialogZed:hover{
    transform: scale(1.02);
}
.dialogZed::backdrop{
    background-color: rgb(0 0 0 / .5) ;
}
.conteudoModal{
    display: flex;
    margin: 10px 10px;  
}
.modal{
    background-color: #e0e0e0;
    border: none;
    border-radius: 10px;
    width: 83.5%;
}
.info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.tituloModal{
    font-size: 22px;
    margin-bottom: 12px;
}
.estrelas{
    margin-left: 5px;
    margin-right: 5px;
}
.avaliacaoModal{
    background-color: #e0e0e0;
    max-width: 370px;
    height: 40px;
    border-radius: 10px;
    padding-left: 12px;
    display: flex;
    align-items: center;
    margin-bottom: 17px;
}
.precoModal{
    font-size: 23px;
    margin-bottom: 12px;
    display: flex;
    align-items: baseline;
}
.parcelaModal{
    margin-left: 6px;
    font-size: 15px;
}
.freteModal{
    display: flex;
    align-items: center;
}
.tituloFrete{
    margin-left: 5px;
}
.caminhaoModal{
    margin-right: 5px;
}
.prazoEntrega{
    font-size: 13px;
    margin-bottom: 17px;
}
.adicionarCarrinho{
    background-color: #e0e0e0;
    border: 1px solid #b4b4b4;
    padding: 16px;
    border-radius: 10px;
    font-size: 15px;
    transition: transform 0.15s;
}
.adicionarCarrinho:hover{
    transform: scale(0.97);
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}
.comprarAgora{
    background-color: #e0e0e0;
    border: 1px solid #b4b4b4;
    padding: 16px;
    width: 180px;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 5px;
    transition: transform 0.15s;
}
.comprarAgora:hover{
    transform: scale(0.97);
    background-color: blueviolet;
    color: white;
    cursor: pointer;
}
.fecharModalZed{
    font-size: 20px;
    position: absolute;
    margin: 15px 15px;
    right: 5px;
    cursor: pointer;
    transition: transform 0.4s;
}
.fecharModalZed:hover{
    transform: scale(0.8);
}
/* TERMINO DO PRODUTO ZED */

/* PRODUTO DA ASHE */

.Ashe{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    background-color: #f5f5f5;
    color: #000000;
    max-width: 300px;
    width: 260px;
    padding: 20px 0px 70px 20px;
    border-radius: 0px 0px 40px 40px;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: inset 0px 0px 0px 0px blueviolet;
    border: 1px solid #cacaca;
    cursor: pointer;
}
.Ashe:hover, .Ashe:focus{
    box-shadow: inset 0px 0px 0px 2px blueviolet;
}
.ImagemDaAshe1{
    width: 180px;
    margin-left: 28px;
} 
.dialogAshe{
    font-family: 'Inter', sans-serif;
    position: fixed;
    top: 27%;
    left: 14%;
    width: 74%;
    min-width: 800px;
    height: 45%;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s;
    overflow-y: hidden;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
}   
.dialogAshe:hover{
    transform: scale(1.02);
}
.dialogAshe::backdrop{
    background-color: rgb(0 0 0 / .5) ;
}
.freteModalAshe{
    display: flex;
    align-items: center;
}
.fecharModalAshe{
    font-size: 20px;
    position: absolute;
    margin: 15px 15px;
    right: 5px;
    cursor: pointer;
    transition: transform 0.4s;
}
.fecharModalAshe:hover{
    transform: scale(0.8);
}
/* TÉRMINO PRODUTO ASHE */

.Thresh{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    background-color: #f5f5f5;
    color: #000000;
    max-width: 300px;
    width: 260px;
    padding: 12px 60px 62px 20px;
    border-radius: 0px 0px 40px 40px;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: inset 0px 0px 0px 0px blueviolet;
    border: 1px solid #cacaca;
    cursor: pointer;
}
.Thresh:hover, .Thresh:focus{
    box-shadow: inset 0px 0px 0px 2px blueviolet;
}
.ImagemDoThresh1{
    width: 310px;
    position: relative;
    top: 5px;
    padding-bottom: 5px;
}

.dialogThresh{
    font-family: 'Inter', sans-serif;
    position: fixed;
    top: 27%;
    left: 14%;
    width: 74%;
    min-width: 800px;
    height: 45%;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s;
    overflow-y: hidden;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
}   
.dialogThresh:hover{
    transform: scale(1.02);
}
.dialogThresh::backdrop{
    background-color: rgb(0 0 0 / .5) ;
} 
.modalThresh{
    background-color: #e0e0e0;
    border:none;
    border-radius: 10px;
    width: 85%;
}
.fecharModalThresh{
    font-size: 20px;
    position: absolute;
    margin: 15px 15px;
    right: 5px;
    cursor: pointer;
    transition: transform 0.4s;
}
.fecharModalThresh:hover{
    transform: scale(0.8);
}

/* CONTEUDO DA ABA NOVOS */

.AbaNovos{
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
@media (max-width: 850px){
    .AbaNovos{
        display: flex;
        flex-direction: column;
    }
}
.T-ProdutosNovos{
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    color: rgb(0, 0, 0); 
}
.Mousepad{
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #e9e9e9;
    cursor: pointer;
}
.IMG-AbaNovos{
    width: 270px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 0px 0px 0px blueviolet;
    transition: box-shadow 0.2s ease-in-out;
}
.IMG-AbaNovos:hover, .IMG-AbaNovos:focus{
    box-shadow: inset 0px 4px 0px 0px blueviolet;
}
.InfoAbaNovos{
    padding: 10px 0px 50px 10px;
    border-radius: 0px 0px 10px 10px;
}
.CorLetrasAbaNovos{
    color: black;
}
.PrecoAbaNovos{
    font-size: 25px;
}
.AVistaAbaNovos{
    color: blueviolet;
    font-size: 13.5px;
}
.SeisXAbaNovos{
    font-size: 14px;
}
.CartaoAbaNovos{
    font-size: 17px;
}
.JurosAbaNovos{
    color: blueviolet;
    font-size: 13px;
}
.dialogMousepad{
    font-family: 'Inter', sans-serif;
    position: fixed;
    top: 27%;
    left: 14%;
    width: 74%;
    min-width: 800px;
    height: 45%;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s;
    overflow-y: hidden;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
}   
.dialogMousepad:hover{
    transform: scale(1.02);
}
.dialogMousepad::backdrop{
    background-color: rgb(0 0 0 / .5) ;
}
.tituloModalMousepad{
    font-size: 17px;
    margin-bottom: 10px;
}
.freteModalMousepad{
    display: flex;
    align-items: center;
}
.fecharModalMousepad{
    font-size: 20px;
    position: absolute;
    margin: 15px 15px;
    right: 5px;
    cursor: pointer;
    transition: transform 0.4s;
}
.fecharModalMousepad:hover{
    transform: scale(0.8);
}
/* Draven Boneco */

.DravenBoneco{
    border-radius: 10px 10px 10px 10px;
    border: 1px solid #e9e9e9;
    padding: 0px 0px 20px 0px;
    cursor: pointer;
}
.dialogDraven{
    font-family: 'Inter', sans-serif;
    position: fixed;
    top: 27%;
    left: 14%;
    width: 74%;
    min-width: 800px;
    height: 45%;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s;
    overflow-y: hidden;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
}   
.dialogDraven:hover{
    transform: scale(1.02);
}
.dialogDraven::backdrop{
    background-color: rgb(0 0 0 / .5) ;
}
.modalDraven{
    background-color: #e0e0e0;
    border:none;
    border-radius: 10px;
    width: 73%;
}
.freteModalDraven{
    display: flex;
    align-items: center;
}
.fecharModalDraven{
    font-size: 20px;
    position: absolute;
    margin: 15px 15px;
    right: 5px;
    cursor: pointer;
    transition: transform 0.4s;
}
.fecharModalDraven:hover{
    transform: scale(0.8);
}
/* Término boneco do Draven */

/* Boneco do Blitz */
.BlitzcrankBoneco{
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 0px 20px 0px;
    cursor: pointer;
}
.dialogBlitz{
    font-family: 'Inter', sans-serif;
    position: fixed;
    top: 27%;
    left: 14%;
    width: 74%;
    min-width: 800px;
    height: 45%;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s;
    overflow-y: hidden;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
}   
.dialogBlitz:hover{
    transform: scale(1.02);
}
.dialogBlitz::backdrop{
    background-color: rgb(0 0 0 / .5) ;
}
.freteModalBlitz{
    display: flex;
    align-items: center;
}
.fecharModalBlitz{
    font-size: 20px;
    position: absolute;
    margin: 15px 15px;
    right: 5px;
    cursor: pointer;
    transition: transform 0.4s;
}
.fecharModalBlitz:hover{
    transform: scale(0.8);
}

/* Término Blitz boneco */

/* Caderno do Yasuo */
.CadernoYasuo{
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 0px 20px 0px;
    cursor: pointer;
}
.dialogYasuo{
    font-family: 'Inter', sans-serif;
    position: fixed;
    top: 27%;
    left: 14%;
    width: 74%;
    min-width: 800px;
    height: 45%;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s;
    overflow-y: hidden;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
}   
.dialogYasuo:hover{
    transform: scale(1.02);
}
.dialogYasuo::backdrop{
    background-color: rgb(0 0 0 / .5) ;
}
.modalYasuo{
    background-color: #e0e0e0;
    border:none;
    border-radius: 10px;
    width: 52%;
}
.freteModalYasuo{
    display: flex;
    align-items: center;
}
.fecharModalYasuo{
    font-size: 20px;
    position: absolute;
    margin: 15px 15px;
    right: 5px;
    cursor: pointer;
    transition: transform 0.4s;
}
.fecharModalYasuo:hover{
    transform: scale(0.8);
}
/* Término Caderno Yasuo */

.ConteudoDosAvisos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}
@media (max-width: 850px){
    .ConteudoDosAvisos{
        display: flex;
        flex-direction: column;
    }
}
.Avisos1{
    border: 1px solid #cacaca;
    max-width: 968px;
    padding-bottom: 30px;
    border-radius: 20px;
}
.AatroxAviso1{
    width: 100vw;
    width: 850px;
    height: 140px;
    border-radius: 20px;
    border-bottom: 1px solid #cacaca;
}
.Entrega{
    position: relative;
    bottom: 7px;
}
.IMG-Entrega{
    margin-left: 83px;
}
.T-Entrega{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    margin-left: 42px;
}
.D-Entrega{
    color: #474747;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
                                     /* Email */
.IMG-Email{
    margin-left: 98px;
}
.T-Email{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    margin-left: 58px;
}
.D-Email{
    color: #474747;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
/* Email término */

.IMG-Verificado{
    width: 26px;
    margin-left: 96px;
}
.T-Verificado{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    margin-left: 36px;
}
.D-Verificado{
    color: #474747;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
                                    /* Aba esgotados */
.AbaEsgotando{
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.Esgotando{
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    color: rgb(0, 0, 0);
    margin-top: 20%;
}
.acabando{
    color: blueviolet;
}
.QuadroThresh{
    margin-top: 3%;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 0px 60px 0px;
}
.IMG-AbaEsgotando{
    width: 270px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 0px 0px 0px blueviolet;
    transition: box-shadow 0.2s ease-in-out;
}
.IMG-AbaEsgotando:hover, .IMG-AbaEsgotando:focus{
    box-shadow: inset 0px 4px 0px 0px blueviolet;
}
.InfoAbaEsgotando{
    font-family: 'Inter', sans-serif;
    margin-top: 5px;
    margin-left: 10px;
}
.CorLetrasAbaEsgotando{
    color: black;
}
.PrecoAbaEsgotando{
    font-size: 25px;
}
.AVistaAbaEsgotando{
    color: blueviolet;
    font-size: 13.5px;
}
.SeisXAbaEsgotando{
    font-size: 14px;
}
.CartaoAbaEsgotando{
    font-size: 17px;
}
.JurosAbaEsgotando{
    color: blueviolet;
    font-size: 13px;
}

                                    /* quadro do Thresh */
.QuadroThresh{
    margin-top: 3%;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 0px 60px 0px;
    cursor: pointer;
}   
.dialogQuadroThresh{
    font-family: 'Inter', sans-serif;
    position: fixed;
    top: 27%;
    left: 14%;
    width: 74%;
    min-width: 800px;
    height: 45%;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s;
    overflow-y: hidden;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
}   
.dialogQuadroThresh:hover{
    transform: scale(1.02);
}
.dialogQuadroThresh::backdrop{
    background-color: rgb(0 0 0 / .5) ;
}
.freteModalQuadroThresh{
    display: flex;
    align-items: center;
}
.fecharModalQuadroThresh{
    font-size: 20px;
    position: absolute;
    margin: 15px 15px;
    right: 5px;
    cursor: pointer;
    transition: transform 0.4s;
}
.fecharModalQuadroThresh:hover{
    transform: scale(0.8);
}
                    /* Quadro dos Kindred */
.QuadroKindred{
    margin-top: 3%;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 0px 60px 0px;
    cursor: pointer;
}
.dialogQuadroKindred{
    font-family: 'Inter', sans-serif;
    position: fixed;
    top: 27%;
    left: 14%;
    width: 74%;
    min-width: 800px;
    height: 45%;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s;
    overflow-y: hidden;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
}   
.dialogQuadroKindred:hover{
    transform: scale(1.02);
}
.dialogQuadroKindred::backdrop{
    background-color: rgb(0 0 0 / .5) ;
}
.freteModalQuadroKindred{
    display: flex;
    align-items: center;
}
.fecharModalQuadroKindred{
    font-size: 20px;
    position: absolute;
    margin: 15px 15px;
    right: 5px;
    cursor: pointer;
    transition: transform 0.4s;
}
.fecharModalQuadroKindred:hover{
    transform: scale(0.8);
}
                            /* Quadro da Vi*/
.QuadroVi{
    margin-top: 3%;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 0px 60px 0px;
    cursor: pointer;
}
.dialogQuadroVi{
    font-family: 'Inter', sans-serif;
    position: fixed;
    top: 27%;
    left: 14%;
    width: 74%;
    min-width: 800px;
    height: 45%;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s;
    overflow-y: hidden;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
}   
.dialogQuadroVi:hover{
    transform: scale(1.02);
}
.dialogQuadroVi::backdrop{
    background-color: rgb(0 0 0 / .5) ;
}
.freteModalQuadroVi{
    display: flex;
    align-items: center;
}
.fecharModalQuadroVi{
    font-size: 20px;
    position: absolute;
    margin: 15px 15px;
    right: 5px;
    cursor: pointer;
    transition: transform 0.4s;
}
.fecharModalQuadroVi:hover{
    transform: scale(0.8);
}
                            /* Quadro do Kassadin */
.QuadroKassadin{
    margin-top: 3%;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 0px 60px 0px;
    cursor: pointer;
}
.dialogQuadroKassadin{
    font-family: 'Inter', sans-serif;
    position: fixed;
    top: 27%;
    left: 14%;
    width: 74%;
    min-width: 800px;
    height: 45%;
    border: none;
    border-radius: 10px;
    transition: transform 0.2s;
    overflow-y: hidden;
    box-shadow: 0 0 1em rgb(0 0 0 / .3);
}   
.dialogQuadroKassadin:hover{
    transform: scale(1.02);
}
.dialogQuadroKassadin::backdrop{
    background-color: rgb(0 0 0 / .5) ;
}
.freteModalQuadroKassadin{
    display: flex;
    align-items: center;
}
.fecharModalQuadroKassadin{
    font-size: 20px;
    position: absolute;
    margin: 15px 15px;
    right: 5px;
    cursor: pointer;
    transition: transform 0.4s;
}
.fecharModalQuadroKassadin:hover{
    transform: scale(0.8);
}                        
                                    /* rodapé */
.rodape{
    background-image: linear-gradient(90deg, blueviolet, rgb(150, 0, 0));
    width: 100vw;
    max-height: 100vh;
}
.conteudoRodape{
    margin-left: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redesFooter{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.whatsappFooter{
    width: 45px;
    transition: transform 0.3s;
}
.whatsappFooter:hover{
    transform: scale(0.85);
}
.facebookFooter{
    width: 45px;
    transition: transform 0.3s;
}
.facebookFooter:hover{
    transform: scale(0.85);
}
.instagramFooter{
    width: 45px;
    transition: transform 0.3s;
}
.instagramFooter:hover{
    transform: scale(0.85);
}
.menuItemFooter{
    font-family: 'Inter', 'sans-serif';
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 27px;
}
.direitosAutorais{
    font-family: 'Inter', 'sans-serif';
    font-size: 13px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    position: relative;
    top: 102.5px;
}
.yasuoFooter{
    height: 320px;
    position: relative;
    right: 14px;
}                                  
.yoneFooter{
    height: 320px;
    margin-right: 15.5px;
}  