*{
    padding: 0;
    margin: 0;
}
body{
    box-sizing: border-box;
    background-color: #ffffff;
    overflow-x: hidden;
}
.container1{
    width: 100%;
    max-width: 5500px;
    padding: auto;
    margin: 0 auto;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: blueviolet;
    width: 100vw;
}
.logo1{
    margin: 20px;
    width: 200px;
}
#logoInput{
    position: relative;
}
#input1{
    font-family: 'Inter', sans-serif;
    border-radius: 30px;
    border: none;
    outline: none;
    width: 240px;
    height: 36px;
    padding-left: 16px;
    font-size: 15px;
    margin-left: 12px;
}
#menu1{
    font-family: 'Inter', sans-serif;
    display: flex;
    gap: 30px;
    margin: 20px 25px;
    font-size: 14px;
}
.menuItem:hover{
    color: #ffec44;
}
#logoInput{
    display: flex;
    align-items: center;
}
#elementosHeader{
    display: flex;
    align-items: center;
    gap: 6px;
}
#lupa{
    position: absolute;
    width: 20px;
    right: 13px;
}
li{
    list-style: none;
}
a{
    color: #ffffff;
    text-decoration: none;
}
/*--------------------------------------------------------------*/
.banner{
    background-image: url("../assets/fotoLoL.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.titulo1{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    display: flex;
    justify-content: center;
    max-width: 920px;
    padding: 20px;
    border-radius: 30px;
    background-color: blueviolet;
    color: #ffffff;
}
.conteudo1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.ofertadia{
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    color: rgb(0, 0, 0);
    margin-top: 10%; 
}

/* PRODUTO DO ZED */
.ProdutosDaOferta{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 130px;
}
@media (max-width: 850px){
    .ProdutosDaOferta{
        display: flex;
        flex-direction: column;
    }
}
.Zed{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    background-color: #f5f5f5;
    color: #000000;
    max-width: 300px;
    width: 260px;
    padding: 20px 0px 64px 20px;
    border-radius: 0px 0px 40px 40px;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: inset 0px 0px 0px 0px blueviolet;
    border: 1px solid #cacaca;
}
.Zed:hover, .Zed:focus{
    box-shadow: inset 0px 0px 0px 2px blueviolet;
}
.TituloZed1{
    font-family: 'Inter', sans-serif;
    font-size: 20.5px;
    color: rgb(0, 0, 0);
}
.PrecoAnteriorZed{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    text-decoration: line-through;
    margin-left: 4px;
    color: #000000;
}
.PrecoNovoZed{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    margin-left: 4px;
    color: #000000;
}
.DeZed{
    padding-top: 22px;
    border-top: 2px solid rgb(117, 117, 117);
    max-width: 27px;
    color: red;
}
.PorZed{
    color: blueviolet;
}
.AVistaZed{
    padding-bottom: 26px;
    border-bottom: 2px solid rgb(117, 117, 117);
    max-width: 55px;
}
.PrecoCartaoZed{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #000000;
}
.SeisXZed{
    color: blueviolet;
}
.JurosZed{
    font-size: 12px;
}
.ImagemDoZed1{
    width: 280px;
    position: relative;
    top: 5px;
    right: 18px;
}
.dialogZed{
    font-family: 'Inter', sans-serif;
    width: 80%;
    height: 50%;
    margin: 150px 130px;
    border: none;
    border-radius: 10px;
}   
.modalZed{
    background-color: #f5f5f5;
    border: 2px solid #cacaca;
    position: absolute;
    width: 300px;
    margin: 10px 10px;
}
.infoZed{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.estrelasZed{
    margin-left: 5px;
    margin-right: 5px;
}
.avaliacaoModalZed{
    display: flex;
    align-items: center;
}
.freteModalZed{
    display: flex;
    align-items: center;
}
/* TERMINO DO PRODUTO ZED */

/* PRODUTO DA ASHE */

.Ashe{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    background-color: #f5f5f5;
    color: #000000;
    max-width: 300px;
    width: 260px;
    padding: 20px 0px 70px 20px;
    border-radius: 0px 0px 40px 40px;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: inset 0px 0px 0px 0px blueviolet;
    border: 1px solid #cacaca;
}
.Ashe:hover, .Ashe:focus{
    box-shadow: inset 0px 0px 0px 2px blueviolet;
}
.CorLetrasAshe1{
    color: #000000;
}
.TituloAshe1{
    font-family: 'Inter', sans-serif;
    font-size: 20.5px;
    color: rgb(0, 0, 0);
}
.PrecoAnteriorAshe{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    text-decoration: line-through;
    margin-left: 4px;
    color: #000000;
}
.PrecoNovoAshe{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    margin-left: 4px;
    color: #000000;
}
.DeAshe{
    max-width: 27px;
    padding-top: 14px;
    border-top: 2px solid rgb(117, 117, 117);
    color: red;
}
.PorAshe{
    color: blueviolet;
}
.AVistaAshe{
    padding-bottom: 26px;
    border-bottom: 2px solid rgb(117, 117, 117);
    max-width: 55px;
}
.PrecoCartaoAshe{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #000000;
}
.SeisXAshe{
    color: blueviolet;
}
.JurosAshe{
    font-size: 12px;
}
.ImagemDaAshe1{
    width: 180px;
    margin-left: 28px;
}

/* TÉRMINO PRODUTO ASHE */

.Tresh{
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    background-color: #f5f5f5;
    color: #000000;
    max-width: 300px;
    width: 260px;
    padding: 12px 60px 62px 20px;
    border-radius: 0px 0px 40px 40px;
    transition: box-shadow 0.2s ease-in-out;
    box-shadow: inset 0px 0px 0px 0px blueviolet;
    border: 1px solid #cacaca;
}
.Tresh:hover, .Tresh:focus{
    box-shadow: inset 0px 0px 0px 2px blueviolet;
}
.SetaParaMostrarTresh{
    position: relative;
    left: 280px;
    top: 16px;
}
.ImagemDoTresh1{
    width: 310px;
    position: relative;
    top: 5px;
    padding-bottom: 5px;
}
.CorLetrasTresh1{
    color: #000000;
}
.TituloTresh1{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.PrecoAnterior{
    font-family: 'Inter', sans-serif;
    font-size: 22px;
    text-decoration: line-through;
    color: #000000;
    margin-left: 6px;
}
.PrecoNovo{
    font-family: 'Inter', sans-serif;
    font-size: 30px;
    margin-left: 4px;
    color: #000000;
}
.De{
    padding-top: 9px;
    border-top: 2px solid #7b7b7b;
    max-width: 27px;
    color: red;
}
.Por{
    color: blueviolet;
}
.AVista{
    padding-bottom: 23px;
    border-bottom: 2px solid #7b7b7b;
    max-width: 55px;
}
.PrecoCartao{
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    color: #000000;
}
.SeisX{
    color: blueviolet;
}
.Juros{
    font-size: 14px;
}
.AbaNovos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
@media (max-width: 850px){
    .AbaNovos{
        display: flex;
        flex-direction: column;
    }
}
.T-ProdutosNovos{
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    color: rgb(0, 0, 0); 
}
.Mousepad{
    font-family: 'Inter', sans-serif;
    color: #000000;
}
.IMG-mousepad{
    background-color: #f5f5f5;
    border: 1px solid rgb(235, 235, 235);
    width: 270px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 0px 0px 0px blueviolet;
    transition: box-shadow 0.2s ease-in-out;
}
.IMG-mousepad:hover, .IMG-mousepad:focus{
    box-shadow: inset 0px 4px 0px 0px blueviolet;
}
.InfoMousePad{
    position: relative;
    bottom: 5px;
    border: 1px solid rgb(235, 235, 235);
    padding: 10px 0px 50px 10px;
    border-radius: 0px 0px 10px 10px;
}
.CorLetrasMousePad{
    color: black;
}
.PrecoMousepad{
    font-size: 25px;
}
.AVistaMousepad{
    color: blueviolet;
    font-size: 13.5px;
}
.SeisXMousepad{
    font-size: 14px;
}
.CartaoMousepad{
    font-size: 17px;
}
.JurosMousepad{
    color: blueviolet;
    font-size: 13px;
}
/* Draven Boneco */

.DravenBoneco{
    position: relative;
    bottom: 2px;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 0px 80px 0px;
}
.IMG-DravenBoneco{
    width: 270px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 0px 0px 0px blueviolet;
    transition: box-shadow 0.2s ease-in-out;
}
.IMG-DravenBoneco:hover, .IMG-DravenBoneco:focus{
    box-shadow: inset 0px 4px 0px 0px blueviolet;
}
.InfoDravenBoneco{
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 5px;
    left: 10px;
}
.CorLetrasDravenBoneco{
    color: black;
}
.PrecoDravenBoneco{
    font-size: 25px;
}
.AVistaDravenBoneco{
    color: blueviolet;
    font-size: 13.5px;
}
.SeisXDravenBoneco{
    font-size: 14px;
}
.CartaoDravenBoneco{
    font-size: 17px;
}
.JurosDravenBoneco{
    color: blueviolet;
    font-size: 13px;
}
/* Término boneco do Draven */
/* Boneco do Blitz */
.BlitzcrankBoneco{
    position: relative;
    bottom: 2px;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 0px 80px 0px;
}
.IMG-BlitzcrankBoneco{
    width: 270px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 0px 0px 0px blueviolet;
    transition: box-shadow 0.2s ease-in-out;
}
.IMG-BlitzcrankBoneco:hover, .IMG-BlitzcrankBoneco:focus{
    box-shadow: inset 0px 4px 0px 0px blueviolet;
}
.InfoBlitzcrankBoneco{
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 5px;
    left: 10px;
}
.CorLetrasBlitzcrankBoneco{
    color: black;
}
.PrecoBlitzcrankBoneco{
    font-size: 25px;
}
.AVistaBlitzcrankBoneco{
    color: blueviolet;
    font-size: 13.5px;
}
.SeisXBlitzcrankBoneco{
    font-size: 14px;
}
.CartaoBlitzcrankBoneco{
    font-size: 17px;
}
.JurosBlitzcrankBoneco{
    color: blueviolet;
    font-size: 13px;
}
/* Término Blitz boneco */
/* Caderno do Yasuo */
.CadernoYasuo{
    position: relative;
    bottom: 2px;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 0px 80px 0px;
}
.IMG-CadernoYasuo{
    width: 270px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 0px 0px 0px blueviolet;
    transition: box-shadow 0.2s ease-in-out;
    
}
.IMG-CadernoYasuo:hover, .IMG-CadernoYasuo:focus{
    box-shadow: inset 0px 4px 0px 0px blueviolet;
}
.InfoCadernoYasuo{
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 5px;
    left: 10px;
}
.CorLetrasCadernoYasuo{
    color: black;
}
.PrecoCadernoYasuo{
    font-size: 25px;
}
.AVistaCadernoYasuo{
    color: blueviolet;
    font-size: 13.5px;
}
.SeisXCadernoYasuo{
    font-size: 14px;
}
.CartaoCadernoYasuo{
    font-size: 17px;
}
.JurosCadernoYasuo{
    color: blueviolet;
    font-size: 13px;
}
/* Término Caderno Yasuo */
.ConteudoDosAvisos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;
}
@media (max-width: 850px){
    .ConteudoDosAvisos{
        display: flex;
        flex-direction: column;
    }
}
.Avisos1{
    border: 1px solid #cacaca;
    max-width: 968px;
    padding-bottom: 30px;
    border-radius: 20px;
}
.AatroxAviso1{
    width: 100vw;
    width: 850px;
    height: 140px;
    border-radius: 20px;
    border-bottom: 1px solid #cacaca;
}
.Entrega{
    position: relative;
    bottom: 7px;
}
.IMG-Entrega{
    margin-left: 83px;
}
.T-Entrega{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    margin-left: 42px;
}
.D-Entrega{
    color: #474747;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
                                     /* Email */
.IMG-Email{
    margin-left: 98px;
}
.T-Email{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    margin-left: 58px;
}
.D-Email{
    color: #474747;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
/* Email término */

.IMG-Verificado{
    width: 26px;
    margin-left: 96px;
}
.T-Verificado{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    margin-left: 36px;
}
.D-Verificado{
    color: #474747;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
                                    /* Aba esgotados */
.AbaEsgotando{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.Esgotando{
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    color: rgb(0, 0, 0);
    margin-top: 20%;
}
.acabando{
    color: blueviolet;
}
.QuadroCho{
    margin-top: 3%;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 0px 60px 0px;
}
.IMG-QuadroCho{
    width: 270px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 0px 0px 0px blueviolet;
    transition: box-shadow 0.2s ease-in-out;
}
.IMG-QuadroCho:hover, .IMG-QuadroCho:focus{
    box-shadow: inset 0px 4px 0px 0px blueviolet;
}
.InfoQuadroCho{
    font-family: 'Inter', sans-serif;
    margin-top: 5px;
    margin-left: 10px;
}
.CorLetrasQuadroCho{
    color: black;
}
.PrecoQuadroCho{
    font-size: 25px;
}
.AVistaQuadroCho{
    color: blueviolet;
    font-size: 13.5px;
}
.SeisXQuadroCho{
    font-size: 14px;
}
.CartaoQuadroCho{
    font-size: 17px;
}
.JurosQuadroCho{
    color: blueviolet;
    font-size: 13px;
}
                    /* Quadro dos Kindred */
.QuadroKindred{
    margin-top: 3%;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 0px 60px 0px;
}
.IMG-QuadroKindred{
    width: 270px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 0px 0px 0px blueviolet;
    transition: box-shadow 0.2s ease-in-out;
}
.IMG-QuadroKindred:hover, .IMG-QuadroKindred:focus{
    box-shadow: inset 0px 4px 0px 0px blueviolet;
}
.InfoQuadroKindred{
    font-family: 'Inter', sans-serif;
    margin-top: 5px;
    margin-left: 10px;
}
.CorLetrasQuadroKindred{
    color: black;
}
.PrecoQuadroKindred{
    font-size: 25px;
}
.AVistaQuadroKindred{
    color: blueviolet;
    font-size: 13.5px;
}
.SeisXQuadroKindred{
    font-size: 14px;
}
.CartaoQuadroKindred{
    font-size: 17px;
}
.JurosQuadroKindred{
    color: blueviolet;
    font-size: 13px;
}
                            /* Quadro do Yasuo */
.QuadroVi{
    margin-top: 3%;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 0px 60px 0px;
}
.IMG-QuadroVi{
    width: 270px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 0px 0px 0px blueviolet;
    transition: box-shadow 0.2s ease-in-out;
}
.IMG-QuadroVi:hover, .IMG-QuadroVi:focus{
    box-shadow: inset 0px 4px 0px 0px blueviolet;
}
.InfoQuadroVi{
    font-family: 'Inter', sans-serif;
    margin-top: 5px;
    margin-left: 10px;
}
.CorLetrasQuadroVi{
    color: black;
}
.PrecoQuadroVi{
    font-size: 25px;
}
.AVistaQuadroVi{
    color: blueviolet;
    font-size: 13.5px;
}
.SeisXQuadroVi{
    font-size: 14px;
}
.CartaoQuadroVi{
    font-size: 17px;
}
.JurosQuadroVi{
    color: blueviolet;
    font-size: 13px;
}
                            /* Quadro do Kassadin */
.QuadroKassadin{
    margin-top: 3%;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 0px 60px 0px;
}
.IMG-QuadroKassadin{
    width: 270px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 0px 0px 0px blueviolet;
    transition: box-shadow 0.2s ease-in-out;
}
.IMG-QuadroKassadin:hover, .IMG-QuadroKassadin:focus{
    box-shadow: inset 0px 4px 0px 0px blueviolet;
}
.InfoQuadroKassadin{
    font-family: 'Inter', sans-serif;
    margin-top: 5px;
    margin-left: 10px;
}
.CorLetrasQuadroKassadin{
    color: black;
}
.PrecoQuadroKassadin{
    font-size: 25px;
}
.AVistaQuadroKassadin{
    color: blueviolet;
    font-size: 13.5px;
}
.SeisXQuadroKassadin{
    font-size: 14px;
}
.CartaoQuadroKassadin{
    font-size: 17px;
}
.JurosQuadroKassadin{
    color: blueviolet;
    font-size: 13px;
}
                        /* quadro do Thresh */
.QuadroThresh{
    margin-top: 3%;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 0px 60px 0px;
}
.IMG-QuadroThresh{
    width: 270px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 0px 0px 0px blueviolet;
    transition: box-shadow 0.2s ease-in-out;
}
.IMG-QuadroThresh:hover, .IMG-QuadroThresh:focus{
    box-shadow: inset 0px 4px 0px 0px blueviolet;
}
.InfoQuadroThresh{
    font-family: 'Inter', sans-serif;
    margin-top: 5px;
    margin-left: 10px;
}
.CorLetrasQuadroThresh{
    color: black;
}
.PrecoQuadroThresh{
    font-size: 25px;
}
.AVistaQuadroThresh{
    color: blueviolet;
    font-size: 13.5px;
}
.SeisXQuadroThresh{
    font-size: 14px;
}
.CartaoQuadroThresh{
    font-size: 17px;
}
.JurosQuadroThresh{
    color: blueviolet;
    font-size: 13px;
}

/* rodapé */

.rodape{
    background-image: linear-gradient(90deg, blueviolet, rgb(150, 0, 0));
    width: 100vw;
    max-height: 100vh;
}
.conteudoRodape{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.redesFooter{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.whatsappFooter{
    width: 45px;
    transition: transform 0.3s;
}
.whatsappFooter:hover{
    transform: scale(1.3);
}
.facebookFooter{
    width: 45px;
    transition: transform 0.3s;
}
.facebookFooter:hover{
    transform: scale(1.3);
}
.instagramFooter{
    width: 45px;
    transition: transform 0.3s;
}
.instagramFooter:hover{
    transform: scale(1.3);
}
.menuItemFooter{
    font-family: 'Inter', 'sans-serif';
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 27px;
}
.direitosAutorais{
    font-family: 'Inter', 'sans-serif';
    font-size: 13px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    position: relative;
    top: 102.5px;
}
.yasuoFooter{
    height: 320px;
}                                  
.yoneFooter{
    position: relative;
    right: 15px;
    height: 320px;
}  