.AbaNovos{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.T-ProdutosNovos{
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    color: rgb(0, 0, 0); 
}
.Mousepad{
    font-family: 'Inter', sans-serif;
    color: #000000;
}
.IMG-mousepad{
    background-color: #f5f5f5;
    border: 1px solid rgb(235, 235, 235);
    width: 270px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 0px 0px 0px blueviolet;
    transition: box-shadow 0.2s ease-in-out;
}
.IMG-mousepad:hover, .IMG-mousepad:focus{
    box-shadow: inset 0px 4px 0px 0px blueviolet;
}
.InfoMousePad{
    position: relative;
    bottom: 5px;
    border: 1px solid rgb(235, 235, 235);
    padding: 10px 0px 50px 10px;
    border-radius: 0px 0px 10px 10px;
}
.CorLetrasMousePad{
    color: black;
}
.PrecoMousepad{
    font-size: 25px;
}
.AVistaMousepad{
    color: blueviolet;
    font-size: 13.5px;
}
.SeisXMousepad{
    font-size: 14px;
}
.CartaoMousepad{
    font-size: 17px;
}
.JurosMousepad{
    color: blueviolet;
    font-size: 13px;
}
/* Draven Boneco */

.DravenBoneco{
    position: relative;
    bottom: 2px;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 0px 80px 0px;
}
.IMG-DravenBoneco{
    width: 270px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 0px 0px 0px blueviolet;
    transition: box-shadow 0.2s ease-in-out;
}
.IMG-DravenBoneco:hover, .IMG-DravenBoneco:focus{
    box-shadow: inset 0px 4px 0px 0px blueviolet;
}
.InfoDravenBoneco{
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 5px;
    left: 10px;
}
.CorLetrasDravenBoneco{
    color: black;
}
.PrecoDravenBoneco{
    font-size: 25px;
}
.AVistaDravenBoneco{
    color: blueviolet;
    font-size: 13.5px;
}
.SeisXDravenBoneco{
    font-size: 14px;
}
.CartaoDravenBoneco{
    font-size: 17px;
}
.JurosDravenBoneco{
    color: blueviolet;
    font-size: 13px;
}
/* Término boneco do Draven */
/* Boneco do Blitz */
.BlitzcrankBoneco{
    position: relative;
    bottom: 2px;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 0px 80px 0px;
}
.IMG-BlitzcrankBoneco{
    width: 270px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 0px 0px 0px blueviolet;
    transition: box-shadow 0.2s ease-in-out;
}
.IMG-BlitzcrankBoneco:hover, .IMG-BlitzcrankBoneco:focus{
    box-shadow: inset 0px 4px 0px 0px blueviolet;
}
.InfoBlitzcrankBoneco{
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 5px;
    left: 10px;
}
.CorLetrasBlitzcrankBoneco{
    color: black;
}
.PrecoBlitzcrankBoneco{
    font-size: 25px;
}
.AVistaBlitzcrankBoneco{
    color: blueviolet;
    font-size: 13.5px;
}
.SeisXBlitzcrankBoneco{
    font-size: 14px;
}
.CartaoBlitzcrankBoneco{
    font-size: 17px;
}
.JurosBlitzcrankBoneco{
    color: blueviolet;
    font-size: 13px;
}
/* Término Blitz boneco */
/* Caderno do Yasuo */
.CadernoYasuo{
    position: relative;
    bottom: 2px;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 0px 80px 0px;
}
.IMG-CadernoYasuo{
    width: 270px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 0px 0px 0px blueviolet;
    transition: box-shadow 0.2s ease-in-out;
    
}
.IMG-CadernoYasuo:hover, .IMG-CadernoYasuo:focus{
    box-shadow: inset 0px 4px 0px 0px blueviolet;
}
.InfoCadernoYasuo{
    font-family: 'Inter', sans-serif;
    position: relative;
    top: 5px;
    left: 10px;
}
.CorLetrasCadernoYasuo{
    color: black;
}
.PrecoCadernoYasuo{
    font-size: 25px;
}
.AVistaCadernoYasuo{
    color: blueviolet;
    font-size: 13.5px;
}
.SeisXCadernoYasuo{
    font-size: 14px;
}
.CartaoCadernoYasuo{
    font-size: 17px;
}
.JurosCadernoYasuo{
    color: blueviolet;
    font-size: 13px;
}
/* Término Caderno Yasuo */
.ConteudoDosAvisos{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin-top: 30px;
}
.Avisos1{
    border: 1px solid #cacaca;
    max-width: 968px;
    padding-bottom: 30px;
    border-radius: 20px;
}
.video{
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    width: 825px;
    border-radius: 20px;
    border-bottom: 1px solid #cacaca;
}
.Entrega{
    position: relative;
    bottom: 7px;
}
.IMG-Entrega{
    margin-left: 83px;
}
.T-Entrega{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    margin-left: 42px;
}
.D-Entrega{
    color: #474747;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
/* Entrega término */
.IMG-Email{
    margin-left: 98px;
}
.T-Email{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    margin-left: 58px;
}
.D-Email{
    color: #474747;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
/* Email término */

.IMG-Verificado{
    width: 26px;
    margin-left: 96px;
}
.T-Verificado{
    font-size: 18px;
    font-family: 'Inter', sans-serif;
    margin-left: 36px;
}
.D-Verificado{
    color: #474747;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
/* Aba esgotados */
.AbaEsgotando{
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.Esgotando{
    font-family: 'Inter', sans-serif;
    font-size: 26px;
    color: rgb(0, 0, 0);
    margin-top: 20%;
}
.acabando{
    color: blueviolet;
}
.QuadroCho{
    margin-top: 3%;
    border: 1px solid #e9e9e9;
    border-radius: 10px 10px 10px 10px;
    padding: 0px 0px 60px 0px;
}
.IMG-QuadroCho{
    width: 270px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #e9e9e9;
    border-radius: 10px 10px 0px 0px;
    box-shadow: inset 0px 0px 0px 0px blueviolet;
    transition: box-shadow 0.2s ease-in-out;
}
.InfoQuadroCho{
    font-family: 'Inter', sans-serif;
    margin-top: 5px;
    margin-left: 10px;
}
.CorLetrasQuadroCho{
    color: black;
}
.PrecoQuadroCho{
    font-size: 25px;
}
.AVistaQuadroCho{
    color: blueviolet;
    font-size: 13.5px;
}
.SeisXQuadroCho{
    font-size: 14px;
}
.CartaoQuadroCho{
    font-size: 17px;
}
.JurosQuadroCho{
    color: blueviolet;
    font-size: 13px;
}